.boton-comprar {
    border: none;
    outline: 0;
    padding: 10px;
    background-color: #effdff;
    border-color: #effdff;
    text-align: center;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}

.boton-comprar:hover {
    opacity: 0,7;
}