.carrito-container {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .carrito-icon {
    width: 40px;
  }
  
  .notification {
    position: absolute;
    top: 35px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 10px;
  }