.banner {
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: #dffaff;
}

.banner-container {
  text-align: center;
  padding: 10% 0;
}

.banner-container h1 {
  margin: 0;
  color: rgb(67, 118, 221);
  text-shadow: 1px 1px 3px #effaff;
  font-size: 62px;
  font-weight: bold;
}

.banner-container h3 {
  color: rgb(67, 118, 221);
  text-shadow: 1px 1px 3px #effaff;
  font-size: 28px;
}